@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click here to see <a href="https://desmotivaciones.es">the best memes here ;)</a>.</p>

    <img src="https://www.latercera.com/resizer/bKwICdlA75iYhheJImReG3fGvKw=/800x0/smart/cloudfront-us-east-1.images.arcpublishing.com/copesa/XY26Z72XMJCZPDP3ICV764Z5F4.jpeg" class="meme-image" alt="...">
</div>
